:root {
  --primary: #0e0808;
  --primary-text: #ffffff;
  --secondary: transparent;
  --button: #63f116;
  --link: #ffffff;
  --secondary-text: #ffffff;
  --accent: transparent;
  --accent-text: #ffffff;
}

